.add-product-page {
  min-height: 87.5vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-product-container {
  position: relative;
  height: 550px;
  max-height: fit-content;
  max-width: 700px;
  /* background: #CBDCEB; */
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
  border-bottom: 2px solid #002A71;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);

  h2 {
    text-align: center;
    color: #003f88;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    /* margin-bottom: 15px; */
  }

  hr {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 100px;
    background-color: #003f88;
  }

  .inputs_section {
    margin-top: 10px;
    width: 100%;
    max-height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: start;

    .error_message {
      color: rgb(181, 60, 60);
      font-size: 13px;
      font-weight: 700;
      width: 100%;
    }

    .left_part {
      padding: 0 5px 0 0;
      width: 50%;
      /* background-color: brown; */

      span {
        text-align: center;
        width: 100%;
        color: #002A71;
        font-weight: 600;
      }

      input {
        border: 1px solid #002A71;
        height: 35px;
        margin: 5px 0 10px 0;
        border-radius: 100px;
        padding: 0 10px;
        color: #002A71;
      }


      input:focus {
        background-color: #CBDCEB;
        outline: none;
      }
    }

    /* ---------------------------------- */
    .right_part {
      /* background-color: brown; */
      width: 50%;
      padding: 0 0 0 5px;
      height: 340px;

      span {
        text-align: center;
        width: 100%;
        color: #002A71;
        font-weight: 600;
      }

      .img_file_input {
        display: none;
      }

      .img {
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;

        padding: 5px;
        border-radius: 10px;
        margin-top: 5px;

        background: #003f88;
        border-radius: 25px;
        cursor: pointer;
        transition: background 0.3s ease;

        span {
          font-size: 16px;
          color: white;
        }
      }

      .img:hover {
        background: #002b66;
      }


      textarea {
        border: 1px solid #002A71;
        padding: 10px;
        border-radius: 10px;
        color: #002A71;
        margin: 5px 0;
        resize: vertical;
        max-height: 180px;
      }

      textarea:focus {
        background-color: #CBDCEB;
        outline: none;
      }
    }
  }

  button {

    background: #003f88;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 80%;
    margin-left: 10%;
  }

  button:hover {
    background: #002b66;
  }
}