header{
    display: flex;
    align-items: center;

    background-color: #002A71;
    color: white;
    height: 50px;
    position: relative;

    nav {
        position: absolute;
        left:  25%;
        width: fit-content ;

        a {
            text-decoration: none;
            color: white;
            margin: 0 30px ;
        }
    }
    .account{
        position: absolute;
        right:  10px;
        top: calc(50% - 12.5px);
        cursor: pointer;

    }
    .logo{
        font-size: 25px;
        position: absolute;
        left:  10px;
        cursor: pointer;
    }


}