
.login_container{
    min-height: 87.5vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}


.login_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    padding: 40px 10px 0px 10px;
    height: 400px;
    /* min-height: fit-content; */
    width: 400px;
    min-width: fit-content;
    border-bottom: 3px solid #002A71;
    border-radius: 20px;
    box-shadow: 0px 4px 9px 0px #0000004d;
    transition: all .5s ease;


    .message_error {
        color: rgb(181, 60, 60);
        font-size: 13px;
        font-weight: 700;
        width: 100%;
    }

    .info_section {
        width: 100%;
        height: 70%;
        input {
            border: 1px solid #002A71;
            height: 35px;
            border-radius: 100px;
            padding: 0 10px;
            color: #002A71;
            width: 100%;
            margin-bottom: 20px;
        }

        input:focus {
            background-color: #CBDCEB;
            outline: none;
        }

        label {
            width: 100%;
            color: #002A71;
            margin: 20px 0 10px 0;
            font-weight: 600;
        }
    }

    .buttons_section {
        background-color: #CBDCEB;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 30%;
        width: 100%;

        button {
            border: none;
            height: 35px;
            border-radius: 100px;
            color: #ffffff;
            background-color: #002A71;
            width: calc(100% - 20px);
        }

        a {
            text-align: center;
            color: #002A71;
            font-size: 15px;
            cursor: pointer;
            text-decoration: none;
            width: 100%;
        }
    }
}

.login_form::after {
    content: '';
    background-color: #002A71;
    height: 10px;
    width: 10px;
    flex: 0 0 auto;
    border-radius: 200px;
    position: absolute;
    top: 15px;
    right: 15px;
}