


.top_product_page{
    z-index: 10000;
    padding: 0 10px;
    background-color:#CBDCEB;
    height: 55px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    box-shadow: 0 5px 0px 0px rgb(255, 255, 255);
    .search-bar-products {
        position: absolute;
        left: 25%;
        height: 40px;
        min-width: 50%;
        max-width: 300px ;
        display: flex;
        align-items: center;
                    
        .search-input-products{
            border-radius:  1000px 0 0 1000px  ;
            padding: 0 10px;
            height: 100%;
            width: 90%;
            border: none;
            
        }
        
        .search-input-products:focus{
            outline: none;
            border-width: 0 0 1px 1px;
            border-style: solid;
            border-color:  #002A71;
        }
        .search-button-products{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 1000px 1000px 0 ;
            margin: 0;
            height: 35px;
            height: 100%;
            width: 50px;
        }
    }
}




.products_list {
    min-height: 100vh;
    /* margin-top: 100px; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
