.Update_order {
  background-color: #ebf4ff;
  padding: 10px 25px;
  border-radius: 12px;
  max-width: 600px;
  height: fit-content;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.product-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1e3a8a;
  margin-bottom: 50px;
  margin-top: 10px;
}

.section-title {
  font-weight: 600;
  color: #374151;
  margin-top: 16px;
}

.product-description {
  text-align: center;
  color: #4b5563;
  font-size: 0.875rem;
  margin-top: 8px;
}

.product-list {
  list-style-type: disc;
  padding-left: 20px;
  color: #4b5563;
  font-size: 0.875rem;
  margin-top: 8px;
}

.cart-section {
  position: absolute;
  bottom: 30px;
  left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
  .quantity-input:focus{
    outline: none;
    background-color: transparent ;
    border: 1px solid  #2563eb;
  }
}

.quantity-input {
  width: 100px;
  padding: 8px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  text-align: center;
}

.add-to-cart-button {
  background-color: #2563eb;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.add-to-cart-button:hover {
  background-color: #1e40af;
}

.error_message {
  position: absolute;
  bottom: 5px;
  color: red;
  text-align: center;
}

.success_message {
  margin-top: 5px;
  position: absolute;
  bottom: 5px;
  left: 35px;
  color: green;
  text-align: center;
}

.product-img {
  height: 400px;
  width: 250px;
  border-radius: 15px;
  background-color: #1e40af;

  margin: 10px auto;
}