.product_details {

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: #d9eaf7;
  border-bottom: 2px solid #004aad;
  min-height: 450px;
  width: 80%;
  max-width: 900px;
  padding: 5px 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;


  .product-info {
    width: 70%;
    min-height: 400px;
    position: relative;
  }

  .right_part {
    position: relative;
    background-color: #004aad;
    height: 400px;
    flex: 0 0 auto;
    width: 250px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #004aad;
    z-index: 3;
    padding: 0;

    .product_img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Fills the container while keeping aspect ratio */
    }

    .product_price {
      position: absolute;
      top: -10px;
      display: none;

    }
  }

  .product-title {
    color: #004aad;
    padding-bottom: 5px;
    margin-bottom: 30px;
  }

  span {
    display: block;
    color: #004aad;
    font-weight: 700;
  }

  .product-description {
    width: 90%;
    word-break: break-all;
    margin: 10px 0 10px 0;
    font-weight: 500;
  }

  hr {
    display: block;
    width: 90%;
    height: 3px;
    margin-top: 20xp;
    background-color: #004aad;
  }
  
  .quantity_section,
  .total_price_section,
  .product_section{
    
    margin-top: 10px;
    display: flex;
    align-items: center;

    span {
      width: 120px;
      display: block;
      color: #004aad;
      font-weight: 700;
    }
    p{
      font-weight: 500; 
    }
  }

  .cart-section {
    position: absolute;
    bottom: 30px;
    left: 35px;
    display: flex;
    align-items: center;

    .quantity-input:focus {
      outline: none;
      background-color: transparent;
      border: 1px solid #2563eb;
    }

    .quantity-input {
      height: 35px;
      width: 100px;
      border: 1px solid #cbd5e1;
      border-radius: 8px;
      text-align: center;
    }

    .add-to-cart-button {
      height: 35px;
      margin: 0;
      margin-left: 10px;
      background-color: #2563eb;
      color: white;
      border-radius: 8px;
      font-weight: 600;
      cursor: pointer;
      border: none;
    }

    .add-to-cart-button:hover {
      background-color: #1e40af;
    }

    .error_message {
      position: absolute;
      bottom: 5px;
      color: red;
      text-align: center;
    }
  }

}