.service_Container {
  position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #d9eaf7;
    border-bottom: 2px solid #004aad;
    min-height: 450px;
    width: 80%;
    max-width: 900px;
    padding: 5px 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
    
    .service-info {
      width: 100% ;
      min-height: 400px;
    }
    .product-img{
      height: 400px;
      width: 220px;
      z-index: 3;
    }
    span {
      margin-top: 10px;
      display: block;
      color: #004aad; 
      font-weight: 700;
    }

    .service-description{
      width: 80%;
      margin:-10px 0 10px 0;
      font-weight: 500;
    }  
    .service-title{
      color: #004aad; /* Dark blue */
      padding-bottom: 5px;
      margin-bottom: 30px;
    }  
    hr{
      display: block;
      width: 90%;
      height: 3px;
      margin-top: 20xp;
      background-color: #004aad;
    }
    .contact {
      margin-top: 20px;
      /* background-color: aqua; */
    }
    .conta_CustomerService,
    .contact_mail{
      display: flex;
      align-items: center;
      p{
        margin-left: 10px;
      }
    }

  }
  
  