 
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 .services_index_page {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}

.service{
    height: 350px;
    width: 220px;
    position: relative;
    margin: 10px;
    overflow: hidden;
    border: 2px solid  #002a71;
    border-radius: 10px;
    img{
        cursor: pointer;
        position: absolute;
        height: 400px;
        width: 220px;
    }
    .service-title{
        position: absolute;
        color: white;
        text-align: center;
        bottom: 0px;
        height: 30px;
        width: 100%;
        background-color: #002a71;
    }
 
}