*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    min-height: 87.5vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.update_profail_message{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 10px;
    font-weight: 700;
    font-size: 14px;
    .update_profail_message_success{
        padding: 5px;
        color:green ;
        background-color: rgba(0, 128, 0, 0.341);
        border: 1px solid green;
    }
}

.update_profail{
    display: flex;

    padding: 10px;
    min-height: 420px;
    max-width: 80%;
    min-width: 600px;
    width: 50%;

    position: relative;
    border-bottom: 3px solid #002A71;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 9px 0px #0000004d;

    .update_img{
        background-color: #002A71;
        display: flex;
        flex-direction: column;
        align-items: center;
        height:fit-content ;
        margin: 60px auto ;
        border-radius: 10000px;
        .update_profail_message_error{
            position: absolute;
            top: 400px;
            left: calc(25% - 125px);
            margin: 0px auto;
            text-align: center;
            color:rgb(181, 60, 60) ;
            font-size: 13px;
            font-weight: 700;
            width: 250px;
        }
        p{
            position: absolute;
            top: 20px;
            left: 10px;
            z-index: 11;
            color: #002A71;
            font-weight: 600;
        }
        .img{
            width: 250px;
            height: 250px;
            border-bottom: 2px solid #002A71;
            border-radius : 1000px;
            background-color:   #CBDCEB;
        }
    }
    form{
        padding: 0 15px ;
        color: #002A71;
        width: 50%;
        height: fit-content;
        display: flex;
        flex-direction: column;

        span{
            margin-top: 10px;
            text-align: center;
            a{
                color: #002A71;
                cursor: pointer;
                text-decoration: none;
            }

        }

        input{
            border:1px solid  #002A71;
            height: 35px;
            border-radius: 100px;
            margin-bottom: 10px;
            padding: 0 10px;
            color: #002A71;

        }
        input:focus{
            background-color: #CBDCEB;
            outline: none;
        }

        label{
            margin-bottom: 10px;
            font-weight: 600;
        }

        #img{
            display: none;
        }
        .checkbox{
            display: flex;
            align-items: center;
            input{
                margin: 5px 0 0 15px;
                height: 20px;
            }
        }
        .update_profail_message_error{
            margin: -10px 0 10px 0;
            color:rgb(181, 60, 60) ;
            font-size: 13px;
            font-weight: 700;
        }
        button{
            border:1px solid #002A71;
            height: 35px;
            border-radius: 100px;
            padding: 0 5px;
            color: #ffffff;
            background-color: #002A71;
            font-size: 15px;
            margin-top: 10px;
        }
    }
    .right_part::after{
        content: '';
        height: 10px;
        width: 10px;
        background-color: #002A71;
        border-radius: 1000px ;
        position: absolute;
        top: 20px;
        right: 20px;
    }

}